# Innomatics | Data Science | Hiring Challenge

Assume that you are working as a Data Analyst Intern with Uber.
Your first assignment as an intern here is to perform analysis and ML modelling on rides data recorded between 2009-01-01 and 
2015-06-30.

Download the dataset by CLICKING HERE.

Questions are either single correct or multiple correct MCQ question. Answer carefully.

Make sure to properly present all solutions in a Jupyter Notebook with proper heading and formatting. 
Upload the Jupyter Notebook at the end of this quiz.

In [4]:
import pandas as pd
file_path="uber_rides_data.xlsx - sample_train.csv"
# Defining the chunk size (number of rows to read at a time)
chunk_size = 10000

# Initializing an empty list to store the data
data = []

# Opening the file in chunks and process each chunk
for chunk in pd.read_csv(file_path, chunksize=chunk_size):
    data.append(chunk)

# Combining all chunks into a single DataFrame if required
df = pd.concat(data, axis=0)

In [5]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

### What is the shape of given dataset?

In [6]:
df.shape

(200000, 8)

### How many integer columns(by default) are given in the dataset?

In [7]:
integer_columns = df.select_dtypes(include=['int']).columns
integer_column_count = len(integer_columns)

print("Count of Integer Columns:", integer_column_count)
print("List of Integer Columns:", integer_columns)

Count of Integer Columns: 2
List of Integer Columns: Index(['ride_id', 'passenger_count'], dtype='object')

### How many missing values exists in 'dropoff_longitude' column?

In [8]:
missing_values_count = df['dropoff_longitude'].isnull().sum()

print("Number of Missing Values in 'dropoff_longitude' column:", missing_values_count)

Number of Missing Values in 'dropoff_longitude' column: 1

### What is the data type of ' pickup_datetime' feature in your data?

In [11]:
pickup_datetime_dtype = df['pickup_datetime'].dtypes

print("Data Type of 'pickup_datetime' Feature:", pickup_datetime_dtype)

Data Type of 'pickup_datetime' Feature: object

### Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

In [12]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
pickup_datetime_dtype = df['pickup_datetime'].dtypes
print("Data Type of 'pickup_datetime' Feature:", pickup_datetime_dtype)

Data Type of 'pickup_datetime' Feature: datetime64[ns, UTC]

### Which function can be used to remove null values from the dataframe?

In [13]:
df.dropna(inplace=True)
df.isnull().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

### What is the average fare amount?

Remove the null values from the dataframe to answer the following question.

In [14]:
df.dropna(subset=['fare_amount'], inplace=True)

# Calculate the average fare amount
average_fare_amount = df['fare_amount'].astype(float).mean()

print("Average Fare Amount:", average_fare_amount)

Average Fare Amount: 11.359891549457748

###  Calculate distance between each pickup and dropoff points using Haversine formula. 
What is the median haversine distance between pickup and dropoff location according to the given dataset?

In [15]:
import numpy as np

def haversine(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    r = 6371  # Radius of the Earth in kilometers
    return c * r


df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], 
                                                          row['dropoff_latitude'], row['dropoff_longitude']), axis=1)
median_haversine_distance = df['haversine_distance'].median()

print("Median Haversine Distance:", median_haversine_distance)

Median Haversine Distance: 2.1209923961833708

### What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [16]:
max_haversine_distance = df['haversine_distance'].max()

print("Maximum Haversine Distance:", max_haversine_distance)

Maximum Haversine Distance: 16409.239135313164

### How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

In [17]:
zero_distance_rides = df[df['haversine_distance'] == 0.0]
count_zero_distance_rides = len(zero_distance_rides)

print("Number of Rides with 0.0 Haversine Distance:", count_zero_distance_rides)

Number of Rides with 0.0 Haversine Distance: 5632

### What is the mean 'fare_amount' for rides with 0 haversine distance?

Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

In [18]:
mean_fare_amount_for_zero_distance = df[df['haversine_distance'] == 0.0]['fare_amount'].mean()

print("Mean 'fare_amount' for Rides with 0.0 Haversine Distance:", mean_fare_amount_for_zero_distance)

Mean 'fare_amount' for Rides with 0.0 Haversine Distance: 11.585317826704546

As for whether something fishy is going on, the fact that there are rides with a Haversine 
distance of 0.0 suggests that these rides have the same pickup and dropoff coordinates, which 
is unusual for a taxi or rideshare service. It could indicate potential errors or anomalies in 
the dataset. Further investigation may be needed to understand why there are rides with zero 
Haversine distance and whether they should be excluded or handled differently in your analysis.

### What is the maximum 'fare_amount' for a ride?

In [19]:
max_fare_amount = df['fare_amount'].max()

print("Maximum 'fare_amount' for a Ride:", max_fare_amount)

Maximum 'fare_amount' for a Ride: 499.0

### What is the haversine distance between pickup and dropoff location for the costliest ride?

Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

In [20]:
costliest_ride = df[df['fare_amount'] == df['fare_amount'].max()]

# Calculate the Haversine distance for the costliest ride
haversine_distance_costliest_ride = costliest_ride['haversine_distance'].values[0]

print("Haversine Distance for the Costliest Ride:", haversine_distance_costliest_ride)

Haversine Distance for the Costliest Ride: 0.0007899213191009994

 As for whether something fishy is going on, it's important to analyze the results 
 and potentially investigate further if the calculated Haversine distance for the 
 costliest ride seems unrealistic. If the distance appears to be extremely large or 
 small compared to the fare amount, it could indicate errors or anomalies in the dataset.
 Further data validation or cleaning may be required to ensure the accuracy of the dataset and analysis.

### How many rides were recorded in the year 2014?

In [21]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])  # Convert the column to datetime if not already done

# Extract the year from the datetime column
df['pickup_year'] = df['pickup_datetime'].dt.year

# Count the number of rides recorded in the year 2014
rides_in_2014 = len(df[df['pickup_year'] == 2014])

print("Number of Rides Recorded in 2014:", rides_in_2014)

Number of Rides Recorded in 2014: 29968

### How many rides were recorded in the first quarter of 2014?

In [22]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])  # Convert the column to datetime if not already done

# Filter the DataFrame for the first quarter of 2014 (January to March)
q1_2014_rides = df[(df['pickup_datetime'].dt.year == 2014) & (df['pickup_datetime'].dt.quarter == 1)]

# Count the number of rides in the first quarter of 2014
rides_in_q1_2014 = len(q1_2014_rides)

print("Number of Rides Recorded in the First Quarter of 2014:", rides_in_q1_2014)

Number of Rides Recorded in the First Quarter of 2014: 7687

### On which day of the week in September 2010, maximum rides were recorded ?

In [23]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])  # Convert the column to datetime if not already done

# Filter the DataFrame for rides in September 2010
september_2010_rides = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]

# Calculate the day of the week for each ride and count the occurrences
day_of_week_counts = september_2010_rides['pickup_datetime'].dt.day_name().value_counts()

# Find the day of the week with the maximum number of rides
max_rides_day = day_of_week_counts.idxmax()
max_rides_count = day_of_week_counts.max()

print("Day of the Week with Maximum Rides in September 2010:", max_rides_day)
print("Number of Rides on the Maximum Day:", max_rides_count)

Day of the Week with Maximum Rides in September 2010: Thursday
Number of Rides on the Maximum Day: 457

### Apply a Machine Learning Algorithm to predict the fare amount given following input features:
passenger_count, distance and ride_week_day.

Perform a 70-30 split of data.

Which algorithm gives the least adjusted R square value?

In [25]:
import numpy as np

# Calculating haversine distance (assuming you have latitude and longitude columns)
from haversine import haversine

# Filtering rows with valid longitude values (-180 to 180 degrees)
df = df[(df['pickup_longitude'] >= -180) & (df['pickup_longitude'] <= 180)]
df = df[(df['dropoff_longitude'] >= -180) & (df['dropoff_longitude'] <= 180)]

# Filtering  rows with valid latitude values (-90 to 90 degrees)
df = df[(df['pickup_latitude'] >= -90) & (df['pickup_latitude'] <= 90)]
df = df[(df['dropoff_latitude'] >= -90) & (df['dropoff_latitude'] <= 90)]


df['haversine_distance'] = df.apply(lambda row: haversine((row['pickup_latitude'], row['pickup_longitude']), (row['dropoff_latitude'], row['dropoff_longitude'])), axis=1)

# Extracting year and week day from pickup_datetime
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['pickup_year'] = df['pickup_datetime'].dt.year
df['ride_week_day'] = df['pickup_datetime'].dt.weekday

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score

# Assuming 'df' is your DataFrame with the relevant columns

# Prepare the features and target variable
X = df[['passenger_count', 'haversine_distance', 'ride_week_day']]
y = df['fare_amount']

# Split the data into training and testing sets (70-30 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize the regression models
linear_reg = LinearRegression()
decision_tree_reg = DecisionTreeRegressor()
random_forest_reg = RandomForestRegressor()
knn_reg = KNeighborsRegressor()

# Create a dictionary of models
models = {
    'Linear Regression': linear_reg,
    'Decision Tree Regression': decision_tree_reg,
    'Random Forest Regression': random_forest_reg,
    'KNN Regression': knn_reg
}

# Dictionary to store adjusted R-squared values for each model
adjusted_r2_scores = {}

# Train and evaluate each model
for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    r2 = r2_score(y_test, y_pred)
    
    n = len(y_test)
    p = len(X_test.columns)
    adjusted_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)
    
    adjusted_r2_scores[model_name] = adjusted_r2

# Find the algorithm with the least adjusted R-squared
least_adjusted_r2_algorithm = min(adjusted_r2_scores, key=adjusted_r2_scores.get)

# Print the adjusted R-squared values for each algorithm
print("Adjusted R-squared values:")
for model_name, adjusted_r2 in adjusted_r2_scores.items():
    print(f"{model_name}: {adjusted_r2}")

# Print the algorithm with the least adjusted R-squared
print(f"The algorithm with the least adjusted R-squared is: {least_adjusted_r2_algorithm}")

Adjusted R-squared values:
Linear Regression: 0.0007404294806256928
Decision Tree Regression: 0.4567656965708632
Random Forest Regression: 0.6316398060981403
KNN Regression: 0.6825746408607534
The algorithm with the least adjusted R-squared is: Linear Regression